{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>MedicalCirta HomePage</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css'%}" rel="stylesheet">

        <link href="{% static 'css/owl.carousel.min.css'%}" rel="stylesheet">

        <link href="{% static 'css/style.css'%}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="{% static 'css/owl.theme.default.min.css'%}" rel="stylesheet">

        <link href="{% static 'css/templatemo-medic-care.css'%}" rel="stylesheet">
<!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
    </head>
    
    <body id="top">
    
        <main>

            <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
                <div class="container">
                    <a class="navbar-brand mx-auto d-lg-none" href="index.html">
                        Medical Cirta
                        <strong class="d-block">Health Specialist</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            
                            

                            <a class="navbar-brand d-none d-lg-block" href="index.html">
                                Medical Cirta
                                <strong class="d-block">Health Specialist</strong>
                            </a>

                            

                        </ul>
                    </div>

                </div>
            </nav>

            <div id="vertnav" class="vertnavdoc">
                <a href="/doctor">Dashboard</a>
                <a href="/waitinglist">Waiting list</a>
                <a href="/doc-message">Messages</a>
                
               
                <a href="/logout" id="logout-btn">Logout</a>
               
            </div>
            

            <div class="content-patient">
                <h1>Doctor's Message</h1>
              
                 

                
            </div>



        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/scrollspy.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
<!--

TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
    </body>
</html>