

.form-med{
    max-width: 800px;
    margin: 150px auto 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px lightgray;
}

.form-med input{
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: block;
    margin: 5px 0px;
    width: 350px;
    box-sizing: border-box;
}

.form-med textarea{
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: block;
    margin: 5px 0px;
    width: 100%;
    box-sizing: border-box;
    height: 150px;
}

.form-med h1{
    color: rgb(0, 136, 255);
}

.champ {
    margin: 10px 10px;
    display: inline-block;
}
.form-med button{
    border: none;
    background-color: rgb(0, 136, 255);
    color: white;
    width: 100%;
    display: block;
    padding: 10px 0px;
    margin: 20px 0px;
}

.success{
    color: green;
}
.err{
    color: red;
}

#vertnav{
    background-color: rgb(0, 136, 255);
    width: 220px;
    position: fixed;
    left: 0;
    top: 90px;
    height: 100%;
    padding: 50px 10px 10px 10px ;
}

#vertnav a{
    display: block;
    color: rgb(241, 240, 240);
    transition: 0.3s;
    padding: 10px;
}
#vertnav a:hover{
    color: white;
    padding-left: 20px;
    transition: 0.3s;
    background-color: rgb(11, 106, 188);
}


.content-patient{
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px lightgray;
    margin-left: 250px;
    margin-top: 50px;
    padding: 20px;
    margin-right: 10px;
}